{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!-- Re-open body tag to allow background image effect -->
<div id="index-body" class="d-flex flex-column h-100 main-bg">

    <!-- Workshops Column -->
    <div id="workshop-container" class="col-12 left">
        <div class="row">
            <div id="signup_outer" class="col-12 card">
                <div class="card-body h-100">

                    <h2>{% trans "Sign In" %}</h2>
                    <br>

                    <!-- Any errors displayed here -->
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for field, error in form.errors.items %}
                                {% for message in error %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                            {% for field in form %}
                                <!-- Labels for input fields -->
                                <label for="{{ field.id_for_label }}" class="custom-label">
                                    {% if field.field.required %}<span class="required"></span>{% endif %}
                                    {{ field.label }}
                                </label>
                                <!-- Input fields -->
                                <p class="{% if field.field.widget.input_type != 'checkbox' %}textarea-input {% endif %}signin-input">
                                    {{ field }}
                                    <!-- Remove placeholder with inline script for input elements -->
                                    {% if field.field.widget.input_type != 'checkbox' %}
                                    <script>
                                        document.getElementById("{{ field.id_for_label }}").placeholder = "";
                                    </script>
                                {% endif %}
                                </p>
                            {% endfor %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="primaryAction btn btn--red" type="submit">{% trans "Sign In" %}</button>
                    </form>

                    {% blocktrans %}
                    <br>
                    <p>If you do not have an account, then please
                      <a href="{{ signup_url }}" class="text-info">sign up</a> first.{% endblocktrans %}</p>
                  
                </div>
            </div>
        </div>
    </div>

{% endblock %}
