{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

</body>
<!-- Re-open body tag to allow background image -->
<body id="index-body" class="d-flex flex-column h-100 main-bg">

    <!-- Workshops Column -->
    <div id="workshop-container" class="col-12 left">
        <div class="row">
            <div class="col card mx-5 mb-4  mt-3 left top">
                <div class="card-body h-100">

                    <h1>{% trans "Sign In" %}</h1>

                    <h2>{% blocktrans %}Welcome to Mr Ts Pies.</h2>
                    <br>
                    <p>If you do not have an account, then please
                      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>


                    <form class="login" method="POST" action="{% url 'account_login' %}">
                      {% csrf_token %}
                      {{ form.as_p }}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                    </form>
                  
                </div>
            </div>
        </div>
    </div>

{% endblock %}
