{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!-- Re-open body tag to allow background image effect -->
<div id="index-body" class="d-flex flex-column h-100 main-bg">
    
    <!-- Workshops Column -->
    <div id="workshop-container" class="col-12 left">
        <div class="row">
            <div id="signup_outer" class="col-12 card">
                <div class="card-body h-100">

                    <h2>{% trans "Sign Up" %}</h2>
                    <br>

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.field.widget.input_type != 'email' %}
                                <label for="{{ field.id_for_label }}" class="custom-label">
                                    {% if field.field.required %}<span class="required"></span>{% endif %}
                                    {{ field.label }}
                                </label>
                                <p class="textarea-input signin-input">
                                    {{ field }}
                                    <!-- Remove placeholder with inline script for input elements -->
                                    {% if field.field.widget.input_type != 'checkbox' %}
                                        <script>
                                            document.getElementById("{{ field.id_for_label }}").placeholder = "";
                                        </script>
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endfor %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn--red" type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                    <br>

                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="text-info">sign in</a>.{% endblocktrans %}</p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
