body {
    font-family: 'Roboto', sans-serif;
}

#index-body {
    background: url('../images/pies-1.jpg') no-repeat bottom left fixed;
    background-size: cover;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

/*--------------------------------------------------------- Containers */

.container {
    width: 90%;
}

.cta-container {
    max-height: 1200px;
    align-items: center;
    justify-content: center;
    position: relative;
}

#about-us {
    min-height: 900px;
    padding-bottom: 100px;
}

#about-us-content {
    background-color: rgba(39, 39, 39, 1);
    border-radius: 50px;
    padding-bottom: 25px;
}

#workshop-container {
    min-height: 100vh;
    text-align: center;
    padding: 50px 20px 0px;
    background-color: rgba(0, 0, 0, 0.8);
}

#workshop-container h1 {
    padding: 10px;
    color: #fff;
}


/*--------------------------------------------------------- Navbar */

#register, #logout {
    border-left: 1px solid grey;
}

.navbar-toggler-icon {
    border: 1px solid #fff;
}

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    width: 200px;
}

.navbar .navbar-nav a {
    color: white;
}


/*--------------------------------------------------------- Logo */

.logo {
    max-width: 100%;
    margin: 15px 0px 15px;
}

.jumbotron {
    margin: 0 auto 200px;
    padding: 4rem 2rem;
    max-width: 800px;
    background-color: transparent;
}

.pie-master-images {
    height: 200px;
    width: 200px;
}


/*--------------------------------------------------------- Block dividers */


.block-divider {
    margin: 10px auto;
    width: 75px;
    height: 5px !important;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    opacity: unset;
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/*--------------------------------------------------------- Buttons */

.btn--cta {
    font-weight: bold !important;
    border-radius: 23px !important;
}

.btn--red {
    color: white !important;
    background-color: #f05f40 !important;
    border-color: #f05f40 !important;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/*--------------------------------------------------------- Page Headers */

#btn-locate {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/*--------------------------------------------------------- Markets */
  

#markets {
    background-color: rgba(39, 39, 39, 0.95);
}

.markets-wrapper {
    padding-top: 20px;
    height: 560px;
    display: flex;
    overflow-x: scroll;
    background-color: rgba(39, 39, 39, 1);
}

.feature-item {
    scroll-snap-align: start;
}

.markets-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.markets-wrapper .feature-item {
    border-radius: 20px;
    margin: 0px 10px;
    min-width: 300px;
    height: 340px;
    text-align: center;
}

.feature {
    color: #fff;
    padding: 20px 12px 20px;
    background-color: #444;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 2px 4px grey;
}

.feature > p {
    height: 190px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
}

.timings h6 {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/*--------------------------------------------------------- Testimonials */

#testimonials {
    padding: 0px 25px;
    background-color: #444;
    min-height: 250px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
  
.review {
    color: #fff;
    text-align: center;
    display: none;
}
  
.review.show {
    display: block;
    animation: fade-in 2s ease;
}
  

/*--------------------------------------------------------- Social Feeds */

footer {
    max-height: 80px;
    background-color: rgba(39, 39, 39, 1); 
}

#social-networks i {
    font-size: 200%;
    color: #fff;
}


/*--------------------------------------------------------- Workshops */


.fixed-height-img {
    height: 350px; /* Adjust the desired height here */
    width: auto;
    object-fit: cover;
}

.fixed-height-img-detail {
    height: 700px; /* Adjust the desired height here */
    width: auto;
    object-fit: cover;
}

/*--------------------------------------------------------- Media Queries */

/* Media queries for medium screen sizes 575px and smaller */
@media screen and (max-width: 575px){

    #contact-nav a {
        color: white;
    }

    #register a, #login a, #logout a {
        color: rgb(209, 209, 209);
    }

    #contact-nav {
        background-color: #f05f40;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #register, #logout {
        border-left: 0px;
        border-top: 2px solid grey;
        background-color: rgb(83, 83, 83);
    }

    #login {
        background-color: rgb(83, 83, 83);
    }

    .navbar-nav {
        margin: 0 auto;
        border: 2px solid grey;
        border-radius: 20px;
        font-size: 120%;
        text-align: center;
        background-color: rgba(51, 51, 51, 1);
    }
}

/* Media queries for medium screen sizes 767px and smaller */
@media screen and (max-width: 767px){

    #form-section {
        display: grid;
    }
}
