{% extends "base.html" %}

{% block content %}
<!-- Re-open body tag to allow background image effect -->
<div id="index-body" class="d-flex flex-column h-100 main-bg">

<div class="container-fluid">
    <div class="row">
        
        <!-- Title section -->
        <div id="workshop-container" class="col-12 left">

            <!-- Card detailed information -->
            <section class="row">
                <div class="h-100">
                    <div id="signup_outer" class="col-12 card p-5">
                        <div class="card-body h-100">
                            <!-- Main index images -->
                            <img src="https://res.cloudinary.com/dnyzrhjyz/image/upload/v1695226446/static/images/wht-mr-t.webp" class="logo" alt="Mr T Logo with words 'Mr Ts">
                            <img src="https://res.cloudinary.com/dnyzrhjyz/image/upload/v1695226443/static/images/wht-glasses.webp" class="logo" alt="Mr T Logo with thick glasses with pies for pupils">
                            <img src="https://res.cloudinary.com/dnyzrhjyz/image/upload/v1695226444/static/images/wht-pies.webp" class="logo" alt="Mr T Logo with words 'Pies">
                            <hr class="block-divider block-divider--orange">
                            <h2>Error 404</h2>
                            <p>Requested page cannot be found</p> 
                        </div>
                    </div>
                </div>
            </section>
            
        </div>

    </div>
</div>
              
{%endblock%}
