{% extends "base.html" %}

{% block content %}
</body>
<!-- Re-open body tag to allow background image -->
<body id="index-body" class="d-flex flex-column h-100 main-bg">

<div class="container-fluid">
    <div class="row">

        <!-- News Column -->
        <div id="workshop-container" class="col-12 left">
            <div class="row">
                <h1>Mr T's Pies</h1>
            </div>

            <div id="about-us-card" class="col">
                
                <!-- Image Container -->
                <div id="about-us-img" class="mb-4">
                    <img src="https://res.cloudinary.com/dnyzrhjyz/image/upload/v1694959418/about-main_wxxz8q.jpg" alt="Image Description" class="img-fluid">
                </div>

                <!-- About us information -->
                <div class="card mb-4 p-4">
                    <h4>About us</h4>
                    <p>Welcome to Mr Ts Pies, a delightful pie company nestled in the heart of Bishops Castle, 
                        born out of the unique challenges and opportunities that arose during the lockdown. 
                        We are a passionate team of pie enthusiasts who share a deep love for creating delectable, 
                        locally sourced pies that warm the heart and soothe the soul.
                    </p>

                    <h4>-</h4>
                    <p>In the midst of uncertainty, when the world slowed down, our journey began. 
                        As the world grappled with unprecedented challenges, we saw an opportunity to create something special. 
                        We harnessed the vibrant culinary scene of Bishops Castle and the rich tapestry of local ingredients to 
                        craft a range of pies that would bring comfort and joy to our community.
                    </p>

                    <h4>-</h4>
                    <p>We are committed to supporting our local farmers and producers. 
                        Our ingredients are sourced from the picturesque Shropshire countryside, 
                        ensuring that every bite of our pies is a celebration of the region's bountiful harvest. 
                        We believe that by working closely with local suppliers, we can not only create delicious 
                        pies but also contribute to the sustainability and growth of our community.
                    </p>

                    <h4>-</h4>
                    <p>Our pies are a labor of love. Each one is meticulously crafted by our skilled bakers, 
                        who blend traditional techniques with innovative flavors to create a unique and 
                        mouthwatering experience. We take pride in the quality of our ingredients and the precision of our pastry, 
                        resulting in pies that are a true testament to the artistry of pie-making.
                    </p>

                    <h4>-</h4>
                    <h4>A Taste of Home</h4>
                    <p>Whether you're enjoying our pies in the comfort of your own home, at a local event, 
                        or in our cozy Bishops Castle shop, we aim to provide a taste of home in every bite. 
                        Our pies are a reflection of the warmth and hospitality that our community embodies.
                    </p>

                    <h4>-</h4>
                    <h4>Join Our Journey</h4>
                    <p>We invite you to join us on this delicious adventure. As we grow and evolve, 
                        we remain committed to our roots, celebrating the flavors and traditions of Bishops Castle. 
                        Thank you for choosing us for your pie cravings, and we look forward to serving 
                        you the very best of Bishops Castle in every slice.
                    </p>
                    <h4>-</h4>
                    <p>
                        At Mr Ts Pies, it's not just about pies, it's about creating moments, fostering community, 
                        and savoring the beauty of locally sourced goodness.
                    </p>
                    
                </div>
            </div>
        </div>
                
{%endblock%}