{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Mr T's Pies</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <div class="container-fluid nav-container px-0">
        <nav class="navbar navbar-dark navbar-expand-sm mb-0 b-0">
            <button class="navbar-toggler ms-auto me-auto b-0" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon rounded"></span>
            </button>

            <!-- Main Nav Section -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item me-2">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEvents" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-center" aria-labelledby="navbarDropdownEvents">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Company</a>
                            </li>
                            <li>
                                <a class="nav-link" aria-current="page" href="#">News</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item me-2" data-toggle="collapse" data-target="#navbarNavDropdown">
                        <a class="nav-link" href="#">Pies</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEvents" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Events
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-center" aria-labelledby="navbarDropdownEvents">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Markets</a>
                            </li>
                            <li>
                                <a class="nav-link" aria-current="page" href="{% url 'workshops' %}">Workshops</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Login/Logout section -->
                    {% if user.is_authenticated %}
                    <li id="logout" class="nav-item">
                        <a class="nav-link me-2" href="#">Logout</a>
                    </li>
                    {% else %}
                    <li id="register" class="nav-item">
                        <a class="nav-link me-2" href="#">Register</a>
                    </li>
                    <li id="login" class="nav-item">
                        <a class="nav-link me-2" href="#">Login</a>
                    </li>
                    {% endif %}

                    <li id="contact-nav" class="d-sm-none nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
                        <a class="nav-link" href="#">Get In Touch</a>
                    </li>
                </ul>
            </div>

            <!-- Right side nav bar -->
            <div class="d-none d-sm-block">
                <p class="d-none d-lg-inline navbar-text my-auto me-2"><i>Great pies just when you need them!</i></p>
                <a href="#" class="d-md-inline btn btn--cta btn--red">Get in Touch</a>
            </div>
        </nav>
    </div>
    <!-- End Navigation -->


    <main class="flex-shrink-0 main-bg">
        {% block content %}

        <!-- Content Goes here -->

        {% endblock content %}
    </main>


    <!-- Social Links -->
    <footer>
        <ul id="social-networks" class="p-2 mb-0 text-center">
            <li class="d-inline mx-5">
                <a href="https://www.facebook.com/mrtpies" target="_blank" rel="noopener" aria-label="Vist our Facebook page (Opens in new tab)">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li class="d-inline m-5">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Vist our Instagram page (Opens in new tab)">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
    </footer>     
  
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/dce19298c1.js" crossorigin="anonymous"></script>  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/script.js" ></script>
</body>

</html>