{% extends 'base.html' %} 

{% block content %}
</body>
<!-- Re-open body tag to allow background image -->
<body id="index-body" class="d-flex flex-column h-100 main-bg">

    <!-- Workshops Column -->
    <div id="workshop-container" class="col-12 left">
        <div class="row">
            <h1>New Booking</h1>
        </div>
        <div id="form-container" class="row mx-auto w-50">
            <div id="form-container-inner" class="col card mx-5 mb-4 mt-3 left top">
                <div class="card-body h-100">

                    <!-- Workshop booking form -->
                    <form method="post">
                    <!-- Check user is logged-in first -->
                    {% if user.is_authenticated %}

                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_workshop">Workshop:</label>
                            <select id="id_workshop" name="workshop" class="textarea-input p-1">
                                <!-- List selection of workshops, skipping the first option -->
                                {% for value, label in form.fields.workshop.choices %}
                                    {% if forloop.counter > 1 %}
                                        <option value="{{ value }}" {% if value == clicked_workshop %}selected{% endif %}>{{ label }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="id_name">Name:</label>
                            <input type="text" id="id_name" name="name" class="textarea-input p-1" required>
                        </div>

                        <div class="form-group">
                            <label for="id_email">Email:</label>
                            <input type="email" id="id_email" name="email" class="textarea-input p-1" required>
                        </div>

                        <div class="form-group">
                            <label for="id_phone_number">Phone Number:</label>
                            <input type="tel" id="id_phone_number" name="phone_number" class="textarea-input p-1" required>
                        </div>

                        <div class="form-group">
                            <label for="dietary_requirements">Dietary Requirements:</label>
                            <select id="dietary_requirements" name="dietary_requirements" class="textarea-input p-1">
                                <!-- List selection of diets -->
                                {% for value, label in form.fields.dietary_requirements.choices %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="id_spaces">Number of Spaces:</label>
                            <input type="number" id="id_spaces" name="spaces" class="textarea-input p-1" min="1" max="{{ workshop.spaces }}" required>
                            <!-- Raise error if spaces requested are higher than available -->
                            {% if form.errors.spaces %}
                                <div id="form_spaces_error" class="text-danger">{{ form.errors.spaces }}</div>
                            {% endif %}
                        </div>

                        <br>

                        <button type="submit" class="btn btn--red">Book Now</button>             
                    {% else %}
                    <p class="user_auth_error">
                        <strong>
                            Please <a href="{% url 'account_login' %}">log in</a>
                            or <a href="{% url 'account_signup' %}">sign up</a>
                            to make a booking.
                        </strong>
                    </p>
                    {% endif %}
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}