{% extends 'base.html' %} 

{% block content %}
</body>
<!-- Re-open body tag to allow background image -->
<body id="index-body" class="d-flex flex-column h-100 main-bg">

    <!-- Workshops Column -->
    <div id="workshop-container" class="col-12 left">
        <div class="row justify-content-center">
            <h1>Make a booking</h1>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
                <form method="post" action="{% url 'booking_create' %}?workshop_id={{ workshop.title }}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Workshop:</label>
                        <select id="workshop_id" name="workshop_id" class="form-control">
                            {% for workshop in workshop_list %}
                            <option value="{{ workshop.id }}">
                                {{ workshop.title }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Phone Number:</label>
                        <input type="tel" id="phone_number" name="phone_number" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="spaces">Number of Spaces:</label>
                        <input type="number" id="spaces" name="spaces" class="form-control" min="1" max="{{ workshop.spaces }}" value="1" required>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    
{% endblock content %}