{% extends "base.html" %}

{% block content %}
<!-- Re-open body tag to allow background image effect -->
<div id="index-body" class="d-flex flex-column h-100 main-bg">

<!-- CTA -->
<div class="overlay container-fluid cta-container">
    <div class="row">
        <div class="col-12 logo-col text-center p-0">

            <section class="jumbotron">
                <!-- Display sign in/out messages following redirect back to homepage -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                        
                <!-- Main index images -->
                <img src="https://res.cloudinary.com/dnyzrhjyz/image/upload/v1695226446/static/images/wht-mr-t.webp" class="logo" alt="Mr T Logo with words 'Mr Ts">
                <img src="https://res.cloudinary.com/dnyzrhjyz/image/upload/v1695226443/static/images/wht-glasses.webp" class="logo" alt="Mr T Logo with thick glasses with pies for pupils">
                <img src="https://res.cloudinary.com/dnyzrhjyz/image/upload/v1695226444/static/images/wht-pies.webp" class="logo" alt="Mr T Logo with words 'Pies">
                <hr class="block-divider block-divider--orange">
                <h3 class= "text-white">Shropshires best kept secret!</h3>
            </section>
        </div>
    </div>
</div>

<!-- About Us -->
<div id="about-us" class="overlay text-center text-white">
    <div id="about-us-content" class="container quotes-container p-3">
        <section class="quotes">
            <div class="row">
                <div class="col-12 page-header">
                    <h2 class="text-uppercase">The Pie Masters</h2>
                    <hr class="block-divider block-divider--short block-divider--orange">
                </div>
            </div>

            <!-- Staff details -->
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="media d-inline m-1">
                        <div class="d-sm-block">
                            <img src="https://res.cloudinary.com/dnyzrhjyz/image/upload/v1695226444/static/images/andy.webp" 
                                class="pie-master-images rounded-circle me-3" height=100 width=100 alt="Photo of Andy the owner">
                        </div>
                        <div class="media-body">
                            <blockquote class="blockquote">
                                <h3 class="pt-3">Andy</h3>
                                <p class="p-2">The visionary driving the delectable creations at Mr Ts Pies. 
                                    With a lifelong commitment to the art of pie making, Andy's dedication shines through in 
                                    every delightful bite.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="media d-inline m-1">
                        <div class="d-sm-block">
                            <img src="https://res.cloudinary.com/dnyzrhjyz/image/upload/v1695226445/static/images/evan.webp" 
                                class="pie-master-images rounded-circle me-3" height=100 width=100 alt="Photo of Evan">
                        </div>
                        <div class="media-body">
                            <blockquote class="blockquote">
                                <h3 class="pt-3">Evan</h3>
                                <p class="p-2"> The indispensable co-pilot in the flavorful journey so far. 
                                    A seasoned pie artisan, he infuses each creation with his unique creative energy, 
                                    making every bite a tantalizing experience.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Markets -->
<div id="markets-outer">
    <div class="markets-wrapper container-wrapper--red" id="markets">
        <div class="feature-item">
            <div class="feature">
                <h3>Church Stretton</h3>
                <hr class="block-divider block-divider--short block-divider--orange">                    
                <p>Located in a small market town it features a range of stalls selling fresh produce, local crafts, 
                    clothing, and other locally made goods. With a range of street food and drink vendors, it provides an opportunity
                    to sample local delicacies.</p>
                    <i class="fa-solid fa-location-dot"></i>
                <div>
                    <a class="btn" href="https://goo.gl/maps/BwySiup1xkgUgbmZA" target="_blank">Visit us!</a>
                </div>
                <br>
                <div class="timings">
                    <h5>1st  &  3rd Thursday</h5>
                    <h6><em>8am-1pm</em></h6>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="feature">
                <h3>Ludlow</h3>
                <hr class="block-divider block-divider--short block-divider--orange">
                <p>A traditional market located in this historic town, The market takes place in the town's central square, 
                    which is surrounded by a variety of independent shops and cafes. It features a wide range of stalls selling 
                    fresh produce, local crafts, clothing, and other goods.</p>
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <a class="btn" href="https://goo.gl/maps/kCo5mM1aXyMkLE5p7" target="_blank">Visit us!</a>
                    </div>
                    <br>                    
                    <div class="timings">
                    <h5>2nd  &  4th Thursday</h5>
                    <h6><em>9am-2pm</em></h6>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="feature">
                <h3>Lydham</h3>
                <hr class="block-divider block-divider--short block-divider--orange">                    
                <p>The market takes place every Friday and is a hub of activity for the local community.It features a variety of 
                    stalls selling fresh produce, meats, cheeses, baked goods, and other locally sourced products. Visitors can also 
                    find handmade crafts, clothing, and household items.
                </p>
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <a class="btn" href="https://goo.gl/maps/eWr9kepB7GQRJrrv7" target="_blank">Visit us!</a>
                    </div>
                    <br>                    
                    <div class="timings">
                    <h5>Every Friday</h5>
                    <h6><em>8am-1pm</em></h6>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="feature">
                <h3>Presteigne</h3>
                <hr class="block-divider block-divider--short block-divider--orange">                    
                <p>Located in the Welsh county of Powys, offering delicious treats such as Welsh cakes, crepes, 
                    and homemade pies. Known for being friendly and laid-back, it is a popular 
                    destination for locals and visitors looking to experience the unique character of this charming town.</p>
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <a class="btn" href="https://goo.gl/maps/Xp1EBgxFu9PBEtoz9" target="_blank">Visit us!</a>
                    </div>
                    <br>                    
                    <div class="timings">
                    <h5>1st Saturday</h5>
                    <h6><em>9am-1pm</em></h6>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="feature">
                <h3>Leominster</h3>
                <hr class="block-divider block-divider--short block-divider--orange">                    
                <p>A busy and vibrant market full of locally made produce which has been running for over 800 years. Leominster is 
                    home to a number of independent shops, antique dealers, and art galleries, making it a popular destination for 
                    those looking for unique and one-of-a-kind finds.</p>
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <a class="btn" href="https://goo.gl/maps/pr6W8ahaJex5oYtX9" target="_blank">Visit us!</a>
                    </div>
                    <br>                    
                    <div class="timings">
                    <h5>2nd Saturday</h5>
                    <h6><em>9am-2pm</em></h6>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="feature">
                <h3>Clun</h3>
                <hr class="block-divider block-divider--short block-divider--orange">                    
                <p>Set in a small, picturesque village located in Shropshire, England. The market takes place in the village square and features a range of 
                    stalls selling local produce, crafts, and other goods. Visitors can also take a walk around the old castle grounds located in the town.</p>
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <a class="btn" href="https://goo.gl/maps/Cvdm4sXEegKpiv8U9" target="_blank">Visit us!</a>
                    </div>
                    <br>                    
                    <div class="timings">
                    <h5>3rd Saturday</h5>
                    <h6><em>10am-12pm</em></h6>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="feature">
                <h3>Knighton</h3>
                <hr class="block-divider block-divider--short block-divider--orange">                    
                <p>Located on the border between Wales and England, in Powys county, the market features a range of stalls selling fresh produce, 
                    local crafts, and other goods. Visitors can also enjoy a variety of tasty snacks and meals made 
                    from locally sourced ingredients.</p>
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <a class="btn" href="https://goo.gl/maps/EV4A7F2RzKdejCjD6" target="_blank">Visit us!</a>
                    </div>
                    <br>                    
                    <div class="timings">
                    <h5>4th Saturday</h5>
                    <h6><em>9.30am-12.30pm</em></h6>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Testimonials -->
<div id="testimonials">
    <div id="tesitmonial-content">
        <div class="testimonial-carousel row review">
            <h3 id="review-text">-</h3>
            <p id="review-name">- </p>
        </div>
    </div>
</div>

{%endblock%}