
{% extends "base.html" %}

{% block content %}
</body>
<!-- Re-open body tag to allow background image -->
<body id="index-body" class="d-flex flex-column h-100 main-bg">

<div class="container-fluid">
    <div class="row">
        
        
        <!-- Title section -->
        <div id="workshop-container" class="col-12 left">
            <div class="row justify-content-center">
            <h1>Pies</h1>            
        </div>

        <!-- Card detailed information -->
        <section class="row justify-content-center">

            <div id="pies-card-outer" class="col card mx-5 mb-4 mt-3 left top">
                <div class="row">

                    <!-- loop through pies -->
                    {% for pie in pie_list %}
                    <section class="product">
                        <div class="product-photo">
                            <div class="photo-container">
                                <div class="photo-main">
                                    
                                    <!-- Image -->
                                    {% if "placeholder" in pie.featured_image.url %}
                                        <img class="pies-image card-img-top" src="https://res.cloudinary.com/dnyzrhjyz/image/upload/v1689105522/pexels-klaus-nielsen-6287298_1_luafef.jpg">
                                    {% else %}
                                        <img class="pies-image card-img-top" src="{{ pie.featured_image.url }}">
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                        
                        <!-- Product info section -->
                        <div class="product-info">
                            <div class="title">
                                <h4>{{ pie.title }}</h4>
                            </div>
                            <div class="description">
                                <span>{{ pie.description|safe }} Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Voluptates provident corrupti nesciunt ipsum consequatur culpa blanditiis exercitationem 
                                    ssumenda soluta voluptate eaque molestiae natus sapiente dolore qui, illo nisi officia ea.</span>
                            </div>
                            <div class="ingredients">
                                <h6>Ingredients</h6>
                                <ul>
                                    <li>Shropshire grazed beef</li>
                                    <li>Locally sourced milk</li>
                                    <li>Welsh harvested leeks</li>
                                    <li>Home grown carrots</li>
                                </ul>
                            </div>
                            <div class="allergy">
                                <p><span>Contains:</span>{% for allergy in pie.allergies.all %}
                                    {{ allergy }}
                                {% empty %}
                                    No allergies
                                {% endfor %}</p>
                            </div>
                            <button class="btn btn--red">Like</button>
                        </div>
                    </section>
                    <hr>
                    {% endfor %}

                </div>         
            </div>
        </section>

{%endblock%}
