
{% extends "base.html" %}

{% block content %}
</body>
<!-- Re-open body tag to allow background image -->
<body id="index-body" class="d-flex flex-column h-100 main-bg">

<div class="container-fluid">
    <div class="row">
        
        
        <!-- Title section -->
        <div id="workshop-container" class="col-12 left">
            <div class="row justify-content-center">
            <h1>Pies</h1>            
        </div>

        <!-- Card detailed information -->
        <section class="row justify-content-center">

            <div id="pies-card-outer" class="col card mx-5 mb-4 mt-3 left top">
                <div class="card-body h-100">
                    <div class="row">

                            <div class="col-12">
                                <!-- loop through pies -->
                                {% for pie in pie_list %}
                                    <h4>{{ pie.title }}</h4>
                                    <div class="pie-item left-image">
                                        <!-- Image -->
                                        <div class="featured-image">
                                            {% if "placeholder" in pie.featured_image.url %}
                                                    <img class="card-img-top fixed-height-img" src="https://res.cloudinary.com/dnyzrhjyz/image/upload/v1689105522/pexels-klaus-nielsen-6287298_1_luafef.jpg">
                                                {% else %}
                                                    <img class="card-img-top fixed-height-img" src="{{ pie.featured_image.url }}">
                                                {% endif %}
                                        </div>
                                        
                                        <!-- Pie details -->
                                        <div class="pie-card">
                                            <p>
                                        
                                                <strong>{{ pie.description|safe }}</strong>
                                                <br>
                                                Diet: <strong>{{ pie.get_diet_display }}</strong>
                                                <br>
                                                Allergies: 
                                                <strong>
                                                    {% for allergy in pie.allergies.all %}
                                                        {{ allergy }}
                                                    {% empty %}
                                                        No allergies
                                                    {% endfor %}
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                        
                    </div>
                </div>
            </div>
        </section>

{%endblock%}
