{% extends "base.html" %}

{% block content %}
</body>
<!-- Re-open body tag to allow background image -->
<body id="index-body" class="d-flex flex-column h-100 main-bg">

<div class="container-fluid">
    <div class="row">
        
        <!-- Workshops Column -->
        <div id="workshop-container" class="col-12 left">
            <div class="row justify-content-center">
            {% if user.is_authenticated %}
                <h1>Welcome, {{ user.username }}</h1>
            {% endif %}
        </div>

        <section class="row">
            <div class="col card mx-5 mb-4  mt-3 left top">
                <div class="card-body h-100">
                    
                        <section class="row">
                            <!-- Display sign in/out messages following redirect back to homepage -->
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div class="col card mx-5 mb-4 mt-3 left top">
                                <div class="card-body h-100">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="card-text">Your Bookings</h2>
                                            <br>
                                        </div>
                                        <div class="col-12">
                                            <ul>
                                            {% for booking in user.bookings.all %}
                                                <li>
                                                    Workshop: <strong>{{ booking.workshop.title }}</strong>
                                                    <br>
                                                    Spaces: <strong>{{ booking.spaces }}</strong>
                                                    <br>
                                                    Dietary Requirements: <strong>{{ booking.get_dietary_requirements_display }}</strong>
                                                    <br>
                                                    Approved: 
                                                    <strong>
                                                        {% if booking.approved %} 
                                                        Yes 
                                                        {% else %} 
                                                        No 
                                                        {% endif %}
                                                    </strong>
                                                </li>
                                                <hr>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    
                </div>
            </div>
        </section>

{%endblock%}
