{% extends "base.html" %}

{% block content %}
</body>
<!-- Re-open body tag to allow background image -->
<body id="index-body" class="d-flex flex-column h-100 main-bg">

<div class="container-fluid">
    <div class="row">
        
        
        <!-- Title section -->
        <div id="workshop-container" class="col-12 left">
            <div class="row justify-content-center">
            {% if user.is_authenticated %}
                <h1>Welcome, {{ user.username }}</h1>
            {% else %}
            <h1>Hello Guest</h1>
            {% endif %}
            
        </div>

        {% if user.is_authenticated %}
        <!-- Card detailed information -->
        <section class="row">
            <!-- Display sign in/out messages following redirect back to homepage -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="col card mx-5 mb-4 mt-3 left top">
                <div class="card-body h-100">
                    <div class="row">
                        <!-- Validate if user has an current bookings -->
                        {% if user.bookings.all %}
                        <div class="col-12">
                            <h2 class="card-text">Your Bookings</h2>
                            <br>
                        </div>
                        <div class="col-12">
                            <ul>
                            {% for booking in user.bookings.all %}
                                <li>
                                    Workshop: <strong>{{ booking.workshop.title }}</strong>
                                    <br>
                                    Spaces: <strong>{{ booking.spaces }}</strong>
                                    <br>
                                    Dietary Requirements: <strong>{{ booking.get_dietary_requirements_display }}</strong>
                                    <br>
                                    Approved: 
                                    <strong>
                                        {% if booking.approved %} 
                                        Yes 
                                        {% else %} 
                                        No 
                                        {% endif %}
                                    </strong>
                                    <br>
                                    <a href="{% url 'edit_booking' booking.id %}">Edit</a> | <a href="{% url 'delete_booking' booking.id %}">Delete</a>
                                </li>
                                <hr>
                            {% endfor %}
                            </ul>
                            {% else %}
                                <h4>You have no bookings</h4>
                                <br>
                                <p>Click <a href="{% url 'workshops' %}">here</a> to view available workshops.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% else %}

        <!-- Sign in/up notification -->
        <section class="row">
            <div class="col card mx-5 mb-4 mt-3 left top">
                <div class="card-body h-100">
                    <div class="row">
                        <div class="col-12">
                            <strong>
                                Please <a href="{% url 'account_login' %}">log in</a>
                                or <a href="{% url 'account_signup' %}">sign up</a>
                                to view the profile section.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endif %}
    

{%endblock%}
