{% extends 'base.html' %} 

{% block content %}
<!-- Re-open body tag to allow background image effect -->
<div id="index-body" class="d-flex flex-column h-100 main-bg">

    <!-- Workshops Column -->
    <div id="workshop-container" class="col-12 left">
        <div class="row">
            <div id="workshop-inner-container" class="col card">
                <div class="card-body h-100">
                    <!-- Post title -->
                    <h2 class="col-12">{{ workshop.title }}</h2>
                    <!-- Workshop Date goes before the | the post's created date goes after -->
                    <p class="">{{ workshop.event_date }}</p>    
                    <div class="row">
                        <div class="d-block col-12">
                            <!-- The featured image -->
                            {% if "placeholder" in workshop.featured_image.url %}
                                <img class="rounded-3 card-img-top fixed-height-img-detail" src="https://res.cloudinary.com/dnyzrhjyz/image/upload/v1695229698/workshop_placeholder.jpg" alt="placeholder image for workshop showing a large selection of pies with someone in the background removing some with a metal tray">
                            {% else %}
                                <img class="rounded-3 card-img-top fixed-height-img-detail" src="{{ workshop.featured_image.url }}" alt="featured image relating to workshop">
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center col-12 pt-2">
                            <!-- The Workshop content -->
                            <div>
                                <h5 class="d-block d-md-none py-2 col-12">{{ workshop.title }}</h5>
                                <div class="card-text pt-2">
                                    {{ workshop.content | safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Display number of spaces or sold out -->
                    <div class="row">
                        <div class="col-12 pt-3">
                            {% if workshop.spaces == 0 %}
                                <p><strong>- SOLD OUT -</strong></p>
                            {% else %}
                                <p>{{ workshop.spaces }} 
                                    <span>
                                        {% if workshop.spaces == 1 %}
                                        Space
                                        {% else %}
                                        Spaces
                                        {% endif %}
                                    </span>
                                    Remaining
                                </p>

                                <!-- Check user is logged-in first -->
                                {% if user.is_authenticated %}
                                <!-- Link book now button to the booking form url -->
                                <strong class="btn btn--red"><a id="workshop-book-now" class="btn--red" href="{% url 'book_workshop' workshop.id %}">Book On!</a></strong>
                                <br>
                                {% else %}
                                    <hr>
                                    <p><strong>
                                        Please <a href="{% url 'account_login' %}" class="text-info">log in</a>
                                        or <a href="{% url 'account_signup' %}" class="text-info">sign up</a>
                                        to book a workshop.
                                    </strong></p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}